.raceLength {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.raceLength input {
    width: 100%;
    height: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 0;

    outline: none;
    box-shadow: inset 0 0 0px 3px #000;

    appearance: none;
}

.raceLength input::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black;

    background: #1fdea8;

    appearance: none;

    cursor: pointer;

    appearance: none;
}
